/**
  * Name: Price Table
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/

/**
  * Reset
  * Repeatable Patterns
*/

/* Reset
-------------------------------------------------------------- */
html {
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.mainlogo {
	width: 20%;
	float: right;
}

.mainlogomob {
	width: 20%;
}

.dvheader {
	padding-top: 10px;
	padding-bottom: 10px;
}

.bigfontheader {
	font-size: 40pt;
}

.smallfontheader {
	font-size: 18pt;
}

.dvimgmob {
	text-align: center;
}

.dvTabAddon {
	margin-top: 10%;
}

.dvfooter {
	background-color: #333333;
}

.fontFooter {
	font-size: 14pt;
	color: white;
	text-align: center;
}

.dvCopyRight {
	border-top: solid white 1px;
}

.dvInfoMain {
	background-color: #F1F1F1;
	border: solid 1px rgb(231, 231, 231);
}

.dvInfo {
	background-color: #ffffff;
	border: solid 1px rgb(231, 231, 231);
}

.dvInfo:hover {
	border: solid 2px #31AAE2;
}

.dvInfoMain:hover {
	border: solid 2px #31AAE2;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}

/* Repeatable Patterns
-------------------------------------------------------------- */
body {
	font: 14px/50px "Roboto Slab", sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #666666;
}