* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  color: #494c5f;
}

.heading-primary {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

.plan-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.plan-section .plan {
  width: 300px;
  text-align: center;
  padding: 30px 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0.6rem 1.6rem #b3b5c6;
  border-radius: 5px;
}

.plan-section .plan .plan-price {
  font-size: 3rem;
  /* font-size: 4rem; */
}

.plan-section .plan .dollar {
  font-size: 2rem;
  font: 400;
  vertical-align: middle;
}

.plan-section .plan .plan-features .plan-item {
  padding: 15px 0;
  border-bottom: 1px solid #b3b5c6;
}

.plan-section .plan .btn {
  display: block;
  margin-top: 20px;
  background-color: #696fdd;
  color: #f6f6fe;
  padding: 10px;
  border-radius: 5px;
}

.plan-section .plan .btn:hover {
  background-color: #f6f6fe;
  color: #494c5f;
  border: 1px solid #696fdd;
  font-weight: 900;
}

.plan-section .plan .btn-blue {
  background-color: #f6f6fe;
  color: #696fdd;
}

.plan-section .plan .btn-blue:hover {
  background-color: #696fdd;
  border: 1px solid #f6f6fe;
  color: #f6f6fe;
}

.plan-section .basic {
  background-color: #f6f6fe;
}

.plan-section .pro {
  background-color: #696fdd;
  /* transform: scale(1.03); */
  color: #f6f6fe;
}

.plan-section .master {
  background-color: #f6f6fe;
}